html ,body{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
    margin-left: 20px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

.menuicon {
    color: #818181;
    padding: 10px 0 0 10px;
    text-align: start;
    font-size: 25px;
    max-width: fit-content;
}

.menuicon:hover {cursor: pointer;}

#active {
    background-color:#818181;
    color: white;
}

#main-box {
    display: flex;
    flex: 1;
}

main {
    flex: 1;
    background-color: black;
    text-align: center;
}

main img {
    width: 170px;
    height: 170px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(68, 68, 68);
    color: white;
    z-index: 1;
}